#home {
	text-align: center;
	background: url('../img/PuzzlePieces.png');
}

#home img {
	width: 50%;
	max-width: 200px;
}

#help {
	text-align: center;
	background: url('../img/PuzzlePieces.png');
}

#Sessions img {
	margin-right:05px;
}
#pdfs {
background: url('../img/PuzzlePieces.png');
}

#pdfs img {
	width:100%;
	margin-bottom:05px;
}

#videolist h3 {
	margin: 15px 0 5px 0;
	height: 50px;
	overflow: hidden;
	font-size: .85em;
}

#videolist img {
	width: 90%;
}

#help img {
	width: 100%;
}

#videolist a {
	text-decoration: none;
	color: #777;
}

#videoplayer .ui-content {
	margin: 0;
	padding: 0;
}

#videoplayer iframe {
	width: 100%;
	min-height: 75%;
}

#videoplayer h3, #myplayer p {
	padding: 0 5%;
}

.ui-icon-file {
	background-image: url("images/file.png");	
	background-size:12px 12px;
	background-position:center;
}

.ui-icon-twitter {
	background-image: url("images/twitter.png");	
	background-size:12px 12px;
	background-position:center;
}

.ui-icon-video {
	background-image: url("images/video.png");	
	background-size:12px 12px;
	background-position:center;
}

.ui-icon-camera {
	background-image: url("images/camera.png");	
	background-size:18px 18px;
	background-position:center;
}